
<div class='newentry-link' style='font-size: 13px'>
    {{ last_updated }}
</div>

<img src='data:image/png;base64,{{image_activity}}'/>

<h1>
    Exercise <a href='http://i.cs.hku.hk/~wbtang/have_fun.txt' style="font-family: Kranky;">Details</a>
</h1>
<div>
<table class="tableActivity">
    <tr>
        <td width="20%">
            日期
        </td>
        {% for label in labels %}
        <td width="20%">
            {{ label }}
        </td>
        {% endfor %}
    </tr>

    {% for i in range(date|length, 0, -1) %}
    <tr>
        <td>
            {{ date[i-1] }}
        </td>
        {% for val in activity[i-1] %}
        <td>
            {% if val == [0] or val == [] %}
                -
            {% else %}
                {% for v in val %}
                    {{ v }}
                {% endfor %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</div>
