<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/static/main.css" />
    <title>Sport Diary@iSuneast</title>
</head>

<body>

<div>
    <a href="/" class="main-title">
        Wowow, I am MAN page
    </a>
    <div style='color: gray; text-decoration: none; font-size: 13px; position: absolute; right: 10px;'>
        System Time: {{system_time}}
    </div>
    <br>
    <h2 style='text-align: center'>苟有恒, 何必三更起五更眠; 最无益, 莫过一日暴十日寒</h2>
</div>

<div class="login-area">
Hi, 
{% if login_name and login_name != '' %}
    {{login_name}}
    <a href="/logout">Log Out</a>
{% else %}
    please
    <a href="/login">Log In</a>
    | 
    <a href="/signup">Sign Up</a>
{% endif %}
</div>

{% block content %}
{% endblock %}

</body>

<br>
<br>

</html>
