{% extends "base.html" %}

{% block content %}

<h2>
    Diary<a href='?q=json' class='login-link'>.json</a> (Since Sept 25, 2014)

    {% if login_name == 'isuneast' %}
    <div class='newentry-link'>
        <a href='/newdiary' class='login-link'>New Diary</a>
    </div>
    {% endif %}
</h2>


<ul>
{% for diary in diaries %}
    <li>

    <h2>
        {{ diary.get_subject() }}
        <div class='newentry-link' style='font-size: 13px'>
            {% if login_name == 'isuneast' %}
            {
            <a href='/newdiary?id={{diary.get_id()}}&op=del' class='login-link'>Delete</a>
            |
            <a href='/newdiary?id={{diary.get_id()}}&op=edit' class='login-link'>Edit</a>
            }
            {% endif %}

            {{ diary.get_created() }}
        </div>
    </h2>

    {{ diary.get_content() | safe }}

    </li>
{% endfor %}
</ul>

{% endblock %}
