{% extends "base.html" %}

{% block content %}

<h1>
    Diary<a href='?q=json' class='login-link'>.json</a> (Since Sept 25, 2014)

    {% if login_name == 'isuneast' %}
    <div class='newentry-link'>
        <a href='/newdiary' class='login-link'>New Diary</a>
    </div>
    {% endif %}
</h1>

<table class="tableDiary">
{% for diary in diaries %}
<tr>
    <td>
    <h2>
        {{ diary.get_subject() }}
        <div class='newentry-link' style='font-size: 13px'>
            {% if login_name == 'isuneast' %}
            {
            <a href='/newdiary?id={{diary.get_id()}}&op=del' class='login-link'>Delete</a>
            |
            <a href='/newdiary?id={{diary.get_id()}}&op=edit' class='login-link'>Edit</a>
            }
            {% endif %}

            {{ diary.get_created() }}
        </div>
    </h2>
    </td>
</tr>
<tr>
    <td style="background-color: white;">
    <br>
    {{ diary.get_content() | safe }}
    <br>
    <br>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
