{% extends "base.html" %}

{% block content %}

<h1>
    Diary<a href='?q=json' class='cute-link'>.json</a> (Since Sept 25, 2014)

    {% if login_name == 'isuneast' %}
    <div class='newentry-link'>
        <a href='/newdiary' class='cute-link'>New Diary</a>
    </div>
    {% endif %}
</h1>

<aside class='NavSidebar'>
  <nav>
    <h1>Diaries List</h1>
    <ul>
    {% for diary in diaries %}
      <li><a href="/diary?id={{diary.get_id()}}">{{diary.get_subject()}}</a></li>
    {% endfor %}
    </ul>
  </nav>
</aside>

<article class='Content'>
<table class="tableDiary">
{% for diary in diaries %}
<tr>
    <td>
    <h2>
        <a href='/diary?id={{diary.get_id()}}'>{{ diary.get_subject() }}</a>
        <div class='newentry-link' style='font-size: 13px'>
            {{ diary.get_created() }}
        </div>
        <br>
        <div class='newentry-link' style='font-size: 13px'>
            {% if login_name == 'isuneast' %}
            {
            <a href='/newdiary?id={{diary.get_id()}}&op=del'>Delete</a>
            |
            <a href='/newdiary?id={{diary.get_id()}}&op=edit'>Edit</a>
            }
            {% endif %}
        </div>
    </h2>
    </td>
</tr>
<tr>
    <td style="background-color: white;">
    <br>
    {{ diary.get_content() | safe }}
    <br>
    <br>
    </td>
</tr>
{% endfor %}
</table>
</article>

{% endblock %}
