{% extends "base.html" %}

{% block content %}

<h1>

</h1>

<div class='bouncingBalls'>
<canvas id="bouncingBalls" width="900" height="270"></canvas>
<table>
<tr>
  <td><label for='text'>Text:</label></td>
  <td><input type='text' id='bouncingBalls.text' value='I Love U' title='Input your text here' required autofocus></td>
  <th rowspan='3'><button onclick='funCanvas()'>GoGoGo!</button></th>
</tr>
<tr>
  <td><label for='font-size'>Font Size (pixels):</label></td>
  <td><input type='number' id='bouncingBalls.fontsize' value='131.4' title='Font Size (px): recommand 130 px' required></td>
</tr>
<tr>
  <td><label for='ball-radius'>Ball Radius (pixels):</label></td>
  <td><input type='number' id='bouncingBalls.ballRadius' value='5.20' title='Ball Radius (px): recommand 9 px' required></td>
</tr>
<tr>
  <td><label for='dynamic-balls'>Dynamic Balls:</label></td>
  <td style='text-align: center;'><input type='checkbox' id='bouncingBalls.dynamicBalls' checked style='width:20px; height:20px;'></td>
</tr>
</table>
</div>

<h1>
    Amazzzzzzzing <a href='/diary' class='cute-link'>Diary</a>
</h1>

<h1>
    Coooooool <a href='/exercise' class='cute-link'>Exercise</a>
</h1>

{% endblock %}
