{% extends "base.html" %}

{% block content %}

<h1 class='cute-link' style='text-align: center'>
  Stuuupid ball game, Sooooooo easy!!!
</h1>

<div class="bouncingBalls">
<canvas style='border: 1px dashed black;' id="bouncingBalls" width="900" height="270"></canvas>
<table onkeydown="if (event.keyCode == 13) { updateCanvas(); return false; }">
<tr>
  <td><label for="text">Text (10 Chars):</label></td>
  <td><input type="text" id="bouncingBalls.text" value="Push Me Out" title="Input your text here" required="" autofocus=""></td>
  <th rowspan="3"><button onclick="updateCanvas()">GoGoGo!</button></th>
</tr>
<tr>
  <td><label for="font-size">Font Size (pixels):</label></td>
  <td><input type="number" id="bouncingBalls.fontsize" value="150" title="Font Size (px): recommand 150 px" required=""></td>
</tr>
<tr>
  <td><label for="ball-radius">Ball Radius (pixels):</label></td>
  <td><input type="number" id="bouncingBalls.ballRadius" value="10" title="Ball Radius (px): recommand 10 px" required=""</td>
</tr>
<tr>
  <td><label for="game-mode">Game Mode:</label></td>
  <td style="text-align: center;"><input type="checkbox" id="bouncingBalls.gameMode" checked class='bouncingBalls-checkbox'></td>
</tr>
</table>
</div>

<h1>
    Amazzzzzzzing <a href='/diary' class='cute-link'>Diary</a>
</h1>

<h1>
    Coooooool <a href='/exercise' class='cute-link'>Exercise</a>
</h1>

{% endblock %}
